.custom-select {
    position: relative;
bottom: 75px;
left: 625px;
/* font-size: 36px; */
background-color: black;
color: white;
height: 50px;
width: 25%;
}

/* TITLE & DROPDOWN */
.navtitle {
    color:white;
    font-size:48px;
    font-weight:bold;
    margin-left:25px;
    margin-top:25px;
    margin-bottom:25px;

}

.dropdown {
    z-index:5;
    margin-top:12px;
    margin-left:20px;
}

.dropdown-toggle {
    font-size:48px;
    background-color:black;
    border-radius:0;
    border:none;
    padding-right:20px;
    padding-left:20px;
}

.dropdown-toggle:hover {
    background-color:white;
    color:black;
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: red;
    background-color: white;
    border: none;
}

.btn-secondary:focus {
    box-shadow:none !important;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0,0,0,0;
}


/* BILL INFO */
#billtitle {
    font-size:24px;

}

#billdesc {
    font-size:16px;
    padding-top:12px;

}

#billdate {
    padding-top:12px;
}

#billresult {
    padding-top:12px;
}

.div {
    background-color:transparent;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

#senatorinfo {

}

section {
    padding-left:24px;
}
